@layer base {
  body {
    font-family: var(--cds-typography-fontFamily-sans);
    font-size: var(--cds-typography-fontSize-base);
    color: var(--cds-color-gray-700);
    background-color: var(--cds-color-black);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--cds-typography-fontFamily-sans);
    font-weight: var(--cds-typography-fontWeight-bold);
    color: var(--cds-color-gray-700);
  }

  a {
    color: var(--cds-color-white);
  }

  a:hover,
  a:focus-visible {
    color: var(--cds-color-accent-light);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}