@layer layout {
  .flow>*+* {
    margin-block-start: var(--flow-space, 1em);
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-space, 1rem);

    align-content: start;
    justify-items: start;
  }

  .wrapper {
    --wrapper-max-width: 1130px;
    --wrapper-padding: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);

    /* helps to match the Figma file */
    box-sizing: content-box;
  }

  .wrapper[data-width="narrow"] {
    --wrapper-max-width: 720px;
  }

  .wrapper[data-width="wide"] {
    --wrapper-max-width: 1330px;
  }

  .section {
    padding-block: 3.75rem;

    @media (min-width: 760px) {
      padding-block: 8rem;

      &[data-padding="compact"] {
        padding-block: 4.5rem;
      }
    }
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--column-layout-alignment, start);

    &[data-gap="large"] {
      gap: 2rem;
    }

    &[data-vertical-alignment="centered"] {
      --column-layout-alignment: center;
    }

    &[data-vertical-alignment="bottom"] {
      --column-layout-alignment: end;
    }

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}